<single-spa-router>
  <div style="height: 100%">
    <header>
      <application
        name="@andrielson/bank-mfe-toolbar"
        props="deploymentUrls,environmentUrls"
      ></application>
    </header>
    <main>
      <route path="authentication">
        <application
          name="@andrielson/bank-mfe-authentication"
          loader="loading"
          props="deploymentUrls,environmentUrls"
        ></application>
      </route>
      <route path="registration">
        <application
          name="@andrielson/bank-mfe-registration"
          loader="loading"
          props="deploymentUrls,environmentUrls"
        ></application>
      </route>
      <redirect from="/" to="authentication"></redirect>
    </main>
    <nav style="position: fixed; bottom: 0; left: 0; width: 100%">
      <application
        name="@andrielson/bank-mfe-menu-bottom"
        props="deploymentUrls,environmentUrls"
      ></application>
    </nav>
  </div>
</single-spa-router>
